* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: DarkViolet;
}

main {
	width: 70%;
	padding: 50px;
	margin: auto;
	background-color: yellow;

}

.photo {
	width: 200px;
	height: 100px;
	margin: 10px;
	background-color: white;
}